[Unit]
Description=growatt mysql MQTT publisher
After=network.target auditd.service

[Service]
WorkingDirectory=/opt/growattMQTT
ExecStart=/opt/growattMQTT/growattmysqlMQTT.php
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
